body
{
    background-color: #000;
    

    margin: 0 auto;
}

.container
{
    margin-left: 1%;
    background-color: white;
}

h1
{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 20px;
    color: #13599d;
}

.grpname
{
    text-align: center;
    padding: 24px;
    color: #ffffff;
    -webkit-margin-before: 0px;
    font-size: 5vw;
}

.callscreen
{
    text-align: center;
    padding: 18px;
    color: #ffffff;
    -webkit-margin-before: 0px;
    font-size: 5vw;
}
.widget
{
    width: 25%;
}

.divider
{
    height: 10px;
}


.UtilityScreen{
    width:100%;
    border:0px solid white;
    background-color: #13599d;
    height:auto;
    position:absolute;
    bottom:0;
    left:0;
    /*  white-space: pre;  To wrap newline and removing white Spaces */
}

.talker
{
    width:15%;
    padding-top: 0px;
}
a
{
    color: #f5ae08;
}


/* Media Queries*/

@media screen and (min-device-width:100px) and (max-device-width: 260px)
{
    .grpname
    {
        display:inline-block;
        text-align: center;
        padding: 25px;
        color: #ffffff;
        -webkit-margin-before: 0px;
        font-size: 5vw;
    }

    .displayScreen
    {
        width:100%;
        height: 125px;
        border:0px solid white;
        background-color:#13599d;
    }

    .pushToTalk
    {
        padding: 145px 0px;
        vertical-align:middle;
        text-align:center;
        white-space: nowrap;
    }


    .infoScreen
    {
        margin: 7px 5px;
        width: auto;
        padding: 3px 51px;
        height: 130px;
        border: 2px solid #BDBDBD;
        background-color: #494949;
    }

    .alertdisp
    {
        width:15%;
        height: 125px;
        padding-top: 8px;
    }
    .call_icon
    {
        width: 125%;
    }
    .widget
    {
        width:100%;
        height:600px;
    }

}




@media screen and (min-device-width:320px) and (max-device-width: 760px)
{

    .callscreen {
        font-size: 4.5vw;
    }

    .grpname
    {
        display: inline-block;
        text-align: center;
        padding: 25px;
        color: #ffffff;
        -webkit-margin-before: 0px;
        font-size: 5vw;
    }

    .displayScreen
    {
        width:100%;
        height: 125px;
        border:0px solid white;
        background-color:#13599d;
    }

    .pushToTalk
    {
        padding: 125px 0px;
        vertical-align:middle;
        text-align:center;
        white-space: nowrap;
    }


    .infoScreen
    {
        margin: 7px 5px;
        text-align: center;
        width: auto;
        padding: 3px 5px 3px 5px;
        height: 130px;
        border: 2px solid #BDBDBD;
        background-color: #494949;
    }

    .alertdisp
    {
        width: 12%;
        height: 125px;
        padding: 8px;
    }
    .call_icon
    {
        width: 85%;
    }
    .widget
    {
        width:80%;
    }
    .enddisp
    {
        /* width :92%; */
        height: 50px;
        padding: 40px;
    }
    .pttWidget
    {
        height: 140vw;
    }
    .dropdown
    {
        width:80%;
        height:75px;
        border-radius: 10px;
        border-color: #13599d;
    }
    .talker
    {
        width:12%;
    }

}

@media screen and (min-device-width:710px) and (max-device-width: 960px)
{
    .pttWidget
    {
        width:150%;
        height:600px;
    }
    .grpname
    {
        display: inline-block;
        text-align: center;
        padding: 14px;
        color: #ffffff;
        -webkit-margin-before: 0px;
        font-size: 5vw;
    }
    .infoScreen
    {
        margin: 7px 5px;
        width: auto;
        text-align: center;
        padding: 3px 5px;
        height: 60px;
        border: 2px solid #BDBDBD;
        background-color: #494949;
    }

    .displayScreen
    {
        width:100%;
        height: 60px;
        border:0px solid white;
        background-color:#13599d;
    }

    .pushToTalk{
        padding: 0px 0px;
        white-space: nowrap;
    }


    .alertdisp
    {
        width: 18%;
        height: 40px;
        padding-top: 8px;
    }

    .call_icon
    {
        padding:50px 47px;
        width: 75%;
    }
    .enddisp
    {

        height: 25px;
        padding: 12px;
    }
    .talker
    {
        width:18%;
    }
    .UtilityScreen
    {
        width: 100%;
        border: 0px solid white;
        background-color: #13599d;
        height: 50px;
        position: absolute;
        bottom: 0;
        left: 0;
    }
    .dropdown
    {
        width:38%;
        height:75px;
        border-radius: 10px;
        border-color: #13599d;
        font-size:18px;
    }
}
@media screen and (min-device-width:960px) and (max-device-width: 1500px)
{

    .callscreen
    {
        text-align: center;
        padding: 18px;
        color: #ffffff;
        -webkit-margin-before: 0px;
        font-size: 15px;
    }


    #pttWidget .displayScreen h1
    {
        font-size: 50px;
    }


    .pttWidget
    {
        height: 520px;
    }

    .grpname
    {
        display: inline-block;
        text-align: center;
        padding: 14px;
        color: #ffffff;
        -webkit-margin-before: 0px;
        font-size: 5vw;
    }

    .infoScreen
    {

        margin: 7px 1px;
        width: auto;
        text-align: center;
        padding: 3px 5px;
        height: 55px;
        border: 1px solid #BDBDBD;
        background-color: #494949;
    }

    .displayScreen
    {
        width:100%;
        height: 50px;
        border:0px solid white;
        background-color:#13599d;
    }

    .pushToTalk
    {

        padding: 20px 33px;
        width  : 80%;
        white-space: nowrap;
    }

    .alertdisp
    {
        width: 12%;
        height: 42px;
        padding-top: 8px;
    }

    .enddisp
    {
        /* width:92%; */
        height: 17px;
        padding: 17px;
    }

    .talker
    {
        width:17%;
    }
    .dropdown
    {
        width:25%;
        height:50px;
        border-radius: 10px;
        border-color: #13599d;
        font-size:18px;
    }
}

/* Added for Kindle Fire HDX device with screen resolution 1600px*2560px */

@media screen and (min-device-width: 1600px) and (max-device-width: 2560px) and
(-webkit-min-device-pixel-ratio: 2) and (min-resolution: 192dpi)
{

    .pttWidget
    {
        height:800px;
    }

    .grpname
    {
        display: inline-block;
        text-align: center;
        padding: 14px;
        color: #ffffff;
        -webkit-margin-before: 0px;
        font-size: 4vw;
    }

    .infoScreen
    {

        margin: 7px 1px;
        width: auto;
        text-align: center;
        padding: 3px 5px;
        height: 85px;
        border: 1px solid #BDBDBD;
        background-color: #494949;
    }

    .displayScreen
    {
        width:100%;
        height: 85px;
        border:0px solid white;
        background-color:#13599d;
    }
    .pushToTalk
    {
        padding:50px 0px;
        white-space: nowrap;
    }

    .alertdisp
    {
        width: 12%;
        height: 85px;
        padding-top: 8px;
    }

    .enddisp
    {
        width:   85px;
        padding: 23px;
    }

    .dropdown
    {
        width:25%;
        height:75px;
        border-radius: 10px;
        border-color: #13599d;
        font-size:18px;
    }

}
